<div class="text-center">
  <div class="form-signin">
    <form [formGroup]="userFormGroup">
      <h1 class="h3 mb-3 fw-normal">TODO list</h1>

      <div *ngFor="let n of duplicateList(10)" class="input-group mb-3">
        <div class="input-group-text">
          <input [formControlName]="'_check'" class="form-check-input mt-0" type="checkbox" value="finished" aria-label="Finished">
        </div>
        <input [formControlName]="'_todo'" type="text" class="form-control" id="something-to-do" placeholder="Something to do" aria-label="Something to do">
        <span class="input-group-text">/</span>
        <input [formControlName]="'_at'" type="date" class="form-control" id="something-at" placeholder="01/01/2021" aria-label="01/01/2021">
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Add TODO</button>
    </form>
  </div>
</div>


